.bgImage {
  position: fixed;
  height: 40vh;
  width: 100%;
  background-image: url('/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

@media(max-width: 375px) {
  .bgImage {
    height: 25vh;
    background-size: cover;
  }
}
